.bg-color {
    background: linear-gradient(90deg, rgb(173, 125, 212) 0%, rgb(160, 77, 161) 100%);
}

ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-instagram:hover {
    color: #c62a6b;
}

.fa-facebook-square:hover {
    color: black;
}

.fa-linkedin-square:hover {
    color: #045494;
}